framework: >= netstandard2.0
source https://nuget.org/api/v2

nuget Expecto
nuget FSharp.Core
nuget Grpc
nuget Reactive.Streams
nuget System.Threading.Tasks.Extensions
nuget System.ValueTuple

group Build
  source https://nuget.org/api/v2
  
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  