framework: >= netstandard2.0, netcoreapp2.0
source https://nuget.org/api/v2

nuget BenchmarkDotNet
nuget FSharp.Core
nuget Grpc
nuget Reactive.Streams
nuget System.Threading.Tasks.Extensions
nuget System.ValueTuple

group Build
  source https://nuget.org/api/v2
  
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2

  nuget Unquote
  nuget xunit 2.3.1
  nuget xunit.runner.visualstudio 2.3.1
  nuget Microsoft.NET.Test.Sdk 15.5.0
  clitool dotnet-xunit 2.3.1
  